<div id="geral">
    <div id="infos">
        <div id="status">
            <div id="nomeDiv">
            <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" [(ngModel)]="nomeUSM">
            </div>
                <div id="vida">
                    <label for="vida">Vida:</label>
                        <div class="ladinho">
                        <input type="number" name="qtdVida" id="qtdVida" [(ngModel)]="qtdVidaUSM">
                        <p id="vidaMax" name="vidaMax">/{{conUSM*2}}</p>
                        </div>
                </div>
                <div id="mana">
                    <label for="mana">Mana:</label>
                        <div class="ladinho">
                        <input type="number" min="0" name="qtdMana" id="qtdMana" [(ngModel)]="qtdManaUSM">
                        <p id="manaMax" name="manaMax">/{{intUSM*4}}</p>
                        </div>
                </div>
        </div>
        <div id="atributos">
            <div id="left">
                <label for="Força">Força:</label>
                    <input name="Força" value="0" type="number" id="for" [(ngModel)]="forUSM">

                <label for="Constituição">Constituição:</label>
                    <input name="Constituição" type="number" id="con" [(ngModel)]="conUSM">

                <label for="Destreza">Destreza:</label>
                    <input name="Destreza" type="number" id="dex" [(ngModel)]="dexUSM">

                <label for="Atirar">Atirar:</label>
                    <input name="Atirar" type="number" id="atirar" [(ngModel)]="tiroUSM">
                    
                <label for="Percepção">Percepção:</label>
                    <input name="Percepção" type="number" id="sentir" [(ngModel)]="sentirUSM">
                    <div id="save">    
                        <button (click)="salvarInfos()" id="save" class="botao">Salvar</button>        
                    </div>   
            </div>
            <div id="right">
                <label for="Primeiros-Socorros">Primeiros-Socorros:</label>
                    <input name="Primeiros-Socorros" type="number" id="cura" [(ngModel)]="curaUSM">

                <label for="Arremessar">Arremessar:</label>
                    <input name="Arremessar" type="number" id="tacar" [(ngModel)]="tacarUSM">

                <label for="Inteligência">Inteligência:</label>
                    <input name="Inteligência" type="number" id="int" [(ngModel)]="intUSM">

                <label for="Lábia">Lábia:</label>
                    <input name="Lábia" type="number" id="labia" [(ngModel)]="labiaUSM">

                <label for="Ferramentas">Ferramentas:</label>
                    <input name="Ferramentas" type="number" id="tools" [(ngModel)]="toolsUSM">
                <label>Total:</label>
                <input type="text" disabled value="{{intUSM + forUSM + conUSM + dexUSM + tiroUSM + sentirUSM + curaUSM + tacarUSM + labiaUSM + toolsUSM}}">
            </div>
        </div>
    </div>

    <div id="roladas">
        <div id="testes">

        <div id="cima">
            <button (click)="testeForca()" class="botao">Força</button>

            <button (click)="testeCon()" class="botao">Constituição</button>

            <button (click)="testeDex()" class="botao">Destreza</button>

            <button (click)="testeAtirar()" class="botao">Atirar</button>

            <button (click)="testePercep()" class="botao">Percepção</button>
        </div>
        <div id="baixo">
            <button (click)="testeCura()" class="botao">Primeiros-Socorros</button>

            <button (click)="testeTacar()" class="botao">Arremessar</button>

            <button (click)="testeIntel()" class="botao">Inteligência</button>

            <button (click)="testeLabia()" class="botao">Lábia</button>

            <button (click)="testeTools()" class="botao">Ferramentas</button>
        </div>
        </div>
        <div id="resultado">
            <p id="numero">{{dado}}</p>
            <p id="sucesso">{{sucesso}}</p>
            <span id="teste">{{teste}}</span>
        </div>
    </div>
</div>
