header, footer{
    width: 100%;
    text-align: center;
    padding: 2% 0 2% 0;
    background-color: #4D4D6A;

}
header{
    margin: 0 0 2% 0;
}
footer{
    margin: 2% 0 0 0;
}
h1, p, a{
    color: #9de1e1;
    text-shadow: 0 0 1rem #9fd2ff, 0 0 1rem #9fd2ff;
    cursor: pointer;
    text-decoration: none;
}
