<section id="geral">

    <div id="status">
        <div id="infos">
            <div id="nomeDiv">
                <label for="nome">Nome:</label>
                <input type="text" [(ngModel)]="nomeALR" name="nome" id="inputNome">
            </div>
            <div id="vidaManaSan">
                <div id="vida">
                    <label for="vida">Vida:</label>
                    <input type="number" [(ngModel)]="vidaALR" name="vida" id="inputVida">
                    <h2>/{{resFisicaALR*2}}</h2>
                </div>
                <div id="mana">
                    <label for="mana">Mana:</label>
                    <input type="number" [(ngModel)]="manaALR" name="mana" id="inputMana">
                    <h2>/{{resEspiritualALR*4}}</h2>
                </div>
                <div id="sanidade">
                    <label for="sanidade">Sanidade:</label>
                    <input type="number" [(ngModel)]="sanidadeALR" name="sanidade" id="inputSanidade">
                    <h2>/{{resMentalALR}}</h2>
                </div>
            </div>
            <button (click)="salvar()" class="botao salvar">Salvar</button>
        </div>
        <div id="atributos">
            <div id="esquerda">
                <div id="dado">
                    <h1>{{dado}}</h1>
                    <h3>{{tierSucesso}}</h3>
                </div>
                <div id="FOR">
                    <table>
                        <tr>
                            <th><h2>Força:</h2></th>
                            <th><input type="number" [(ngModel)]="forALR" class="input" name="força" id="inputFor"></th>
                        </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(lutarALR)" class="botao">Lutar</button></td>
                                <td><input type="number" [(ngModel)]="lutarALR" class="input" name="lutar"></td>
                            </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(armasPesadasALR)" class="botao">Armas Pesadas</button></td>
                                <td><input type="number" [(ngModel)]="armasPesadasALR" class="input" name="armasPesadas"></td>
                            </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(forBruALR)" class="botao">Força Bruta</button></td>
                                <td><input type="number" [(ngModel)]="forBruALR" class="input" name="forcaBruta"></td>
                            </tr>
                    </table>
                </div>
            </div>
            <div id="meio">
                <div id="left">
                    <div id="DEX">
                        <table>
                            <tr>
                                <th><h2>Destreza:</h2></th>
                                <th><input class="input" [(ngModel)]="dexALR" type="number" name="destreza" id="inputDestreza"></th>
                            </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(armasLevesALR)" class="botao">Armas leves</button></td>
                                <td><input type="number" [(ngModel)]="armasLevesALR" class="input" name="armasLeves"></td>
                            </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(armasDeFogoALR)" class="botao">Armas de fogo</button></td>
                                <td><input type="number" [(ngModel)]="armasDeFogoALR" class="input" name="armasDeFogo"></td>
                            </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(prestidigitacaoALR)" class="botao">Prestidigitação</button></td>
                                <td><input type="number" [(ngModel)]="prestidigitacaoALR" class="input" name="precisao"></td>
                            </tr>
                        </table>
                    </div>
                    <div id="PER">
                    <table>
                        <tr>
                            <th><h2>Percepção:</h2></th>
                            <th><input  type="number" [(ngModel)]="perceptionALR" class="input" name="perception" id="inputPerception"></th>
                        </tr>
                        <tr>
                            <td><button (click)="calcularSucesso(findALR)" class="botao">Encontrar</button></td>
                            <td><input type="number" [(ngModel)]="findALR" name="encontrar" class="input"></td>
                        </tr>
                        <tr>
                            <td><button (click)="calcularSucesso(escutarALR)" class="botao">Escutar</button></td>
                            <td><input type="number" [(ngModel)]="escutarALR" name="escutar" class="input"></td>
                        </tr>
                        <tr>
                            <td><button (click)="calcularSucesso(investigarALR)" class="botao">Investigação</button></td>
                            <td><input type="number" [(ngModel)]="investigarALR" name="intuicao" class="input"></td>
                        </tr>
                    </table>
                    </div>
                </div>
                <div id="center">
                    <div id="CON">
                        <table>
                        <tr>
                            <th><h2>Constituição:</h2></th>
                            <th><input type="number" [(ngModel)]="conALR" class="input" name="constituicao" id="inputConstituicao"></th>
                        </tr>
                        <tr>
                            <td><button (click)="calcularSucesso(resFisicaALR)" class="botao">Física</button></td>
                            <td><input type="number" [(ngModel)]="resFisicaALR" class="input" name="resFisica"></td>
                        </tr>
                        <tr>
                            <td><button (click)="calcularSucesso(resMentalALR)" class="botao">Mental</button></td>
                            <td><input type="number" [(ngModel)]="resMentalALR" class="input" name="resMental"></td>
                        </tr>
                        <tr>
                            <td><button (click)="calcularSucesso(resEspiritualALR)" class="botao">Espiritual</button></td>
                            <td><input type="number" [(ngModel)]="resEspiritualALR" class="input" name="resEspitritual"></td>
                        </tr>
                        </table>
                    </div>
                    <!-- <div id="dado">
                        <h1>{{dado}}</h1>
                        <h3>{{tierSucesso}}</h3>
                    </div> -->
                    <div id="LAB">
                        <table class="tabelas">
                            <tr>
                                <th><h2>Lábia:</h2></th>
                                <th><input type="number" [(ngModel)]="labiaALR" class="input" name="labia" id="inputLabia"></th>
                            </tr>
                                <tr>
                                    <td><button (click)="calcularSucesso(persuasaoALR)" class="botao">Persuasão</button></td>
                                    <td><input type="number" [(ngModel)]="persuasaoALR" class="input" name=""></td>
                                </tr>
                                <tr>
                                    <td><button (click)="calcularSucesso(psicoALR)" class="botao">Psicologia</button></td>
                                    <td><input type="number" [(ngModel)]="psicoALR" class="input" name=""></td>
                                </tr>
                                <tr>         
                                    <td><button (click)="calcularSucesso(intimidacaoALR)" class="botao">Intimidação</button></td>
                                    <td><input type="number" [(ngModel)]="intimidacaoALR" class="input" name=""></td>
                                </tr>
                        </table>
                    </div>
                </div>
                <div id="right">
                    <div id="MED">
                        <table>
                            <tr>
                                <th><h2>Medicina:</h2></th>
                                <th><input type="number" [(ngModel)]="medALR" name="medicina" class="input" id="inputMedicina"></th>
                            </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(firstAidALR)" class="botao">Primeiros-Socorros</button></td>
                                <td><input type="number" [(ngModel)]="firstAidALR" name="primeirosSocorros" class="input"></td>
                            </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(medForenseALR)" class="botao">Medicina Forense</button></td>
                                <td><input type="number" [(ngModel)]="medForenseALR" name="" class="input"></td>
                            </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(medicinaALR)" class="botao">Medicina</button></td>
                                <td><input type="number" [(ngModel)]="medicinaALR" name="" class="input"></td>
                            </tr>
                        </table>
                    </div>
                    <div id="INT">
                        <table>
                            <tr>
                                <th><h2>Inteligência:</h2></th>
                                <th><input type="number" [(ngModel)]="intALR" class="input" name="inteligencia" id="inputInteligencia"></th>
                            </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(magiaALR)" class="botao">Magia</button></td>
                                <td><input type="number" [(ngModel)]="magiaALR" name="" id="" class="input"></td>
                            </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(intelectoALR)" class="botao">Intelecto</button></td>
                                <td><input type="number" [(ngModel)]="intelectoALR" name="" id="" class="input"></td>
                            </tr>
                            <tr>
                                <td><button (click)="calcularSucesso(conhecimentoALR)" class="botao">Conhecimento</button></td>
                                <td><input type="number" [(ngModel)]="conhecimentoALR" name="" id="" class="input"></td>
                            </tr>                        
                        </table>
                    </div>
                </div>
            </div>
            <div id="direita">
                <div id="AGI">
                    <table>
                        <tr>
                            <th><h2>Agilidade:</h2></th>
                            <th><input type="number" [(ngModel)]="agiALR" class="input" name="agilidade" id="inputAgilidade"></th>
                        </tr>
                        <tr>
                            <td><button (click)="calcularSucesso(atletismoALR)" class="botao">Atletismo</button></td>
                            <td><input type="number" [(ngModel)]="atletismoALR" name="" class="input"></td>
                        <tr>
                            <td><button (click)="calcularSucesso(furtividadeALR)" class="botao">Furtividade</button></td>
                            <td><input type="number" [(ngModel)]="furtividadeALR" name="" class="input"></td>
                        <tr>
                            <td><button (click)="calcularSucesso(velocidadeALR)" class="botao">Velocidade</button></td>
                            <td><input type="number" [(ngModel)]="velocidadeALR" name="" class="input"></td>
                        </tr>
                    </table>
                </div>
                <div id="DEF">
                    <table>
                        <tr>
                            <th><h2>Defesa:</h2></th>
                            <th><input class="input" [(ngModel)]="defALR" type="number" name="defesa" id="inputDefesa"></th>
                        </tr>
                        <tr>
                            <td><button (click)="calcularSucesso(esquivaALR)" class="botao">Esquiva</button></td>
                            <td><input type="number" [(ngModel)]="esquivaALR" class="input" name="esquiva"></td>
                        </tr>
                        <tr>
                            <td><button (click)="calcularSucesso(bloqueioALR)" class="botao">Bloqueio</button></td>
                            <td><input type="number" [(ngModel)]="bloqueioALR" class="input" name="bloqueio"></td>
                        </tr>
                        <tr>
                            <td><button (click)="calcularSucesso(counterALR)" class="botao">Contra-ataque</button></td>
                            <td><input type="number" [(ngModel)]="counterALR" class="input" name="contraAtaque"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>