<section id="geral">

    <div id="status">
        <div id="infos">
            <div id="nomeDiv">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="inputNome">
            </div>
            <div id="vidaManaSan">
                <div id="vida">
                    <label for="vida">Vida:</label>
                    <input type="number" name="vida" id="inputVida">
                </div>
                <div id="mana">
                    <label for="mana">Mana:</label>
                    <input type="number" name="mana" id="inputMana">
                </div>
                <div id="sanidade">
                    <label for="sanidade">Sanidade:</label>
                    <input type="number" name="sanidade" id="inputSanidade">
                </div>
                <button (click)="salvar()" class="botao salvar">Salvar</button>
            </div>
        </div>
        <div id="atributos">
            <div id="esquerda">
                <div id="FOR">
                    <table>
                        <tr>
                            <th><h2>Força:</h2></th>
                            <th><input type="number" class="input" name="força" id="inputFor"></th>
                        </tr>
                            <tr>
                                <td><button (click)="testeLutar()" class="botao">Lutar</button></td>
                                <td><input type="number" [(ngModel)]="lutarALR" class="input" name="lutar"></td>
                            </tr>
                            <tr>
                                <td><button class="botao">Armas Pesadas</button></td>
                                <td><input type="number" class="input" name="armasPesadas"></td>
                            </tr>
                            <tr>
                                <td><button class="botao">Força Bruta</button></td>
                                <td><input type="number" class="input" name="forcaBruta"></td>
                            </tr>
                    </table>
                </div>
                <div id="DEF">
                    <table>
                        <tr>
                            <th><h2>Defesa:</h2></th>
                            <th><input class="input" type="number" name="defesa" id="inputDefesa"></th>
                        </tr>
                        <tr>
                            <td><button class="botao">Esquiva</button></td>
                            <td><input type="number" class="input" name="esquiva"></td>
                        </tr>
                        <tr>
                            <td><button class="botao">Bloqueio</button></td>
                            <td><input type="number" class="input" name="bloqueio"></td>
                        </tr>
                        <tr>
                            <td><button class="botao">Contra-ataque</button></td>
                            <td><input type="number" class="input" name="contraAtaque"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="meio">
                <div id="left">
                    <div id="DEX">
                        <table>
                            <tr>
                                <th><h2>Destreza:</h2></th>
                                <th><input class="input" type="number" name="destreza" id="inputDestreza"></th>
                            </tr>
                            <tr>
                                <td><button class="botao">Armas leves</button></td>
                                <td><input type="number" class="input" name="armasLeves"></td>
                            </tr>
                            <tr>
                                <td><button class="botao">Armas de fogo</button></td>
                                <td><input type="number" class="input" name="armasDeFogo"></td>
                            </tr>
                            <tr>
                                <td><button class="botao">Precisão</button></td>
                                <td><input type="number" class="input" name="precisao"></td>
                            </tr>
                        </table>
                    </div>
                    <div id="PER">
                    <table>
                        <tr>
                            <th><h2>Percepção:</h2></th>
                            <th><input type="number" class="input" name="perception" id="inputPerception"></th>
                        </tr>
                        <tr>
                            <td><button class="botao">Encontrar</button></td>
                            <td><input type="number" name="encontrar" class="input"></td>
                        </tr>
                        <tr>
                            <td><button class="botao">Escutar</button></td>
                            <td><input type="number" name="escutar" class="input"></td>
                        </tr>
                        <tr>
                            <td><button class="botao">Intuição</button></td>
                            <td><input type="number" name="intuicao" class="input"></td>
                        </tr>
                    </table>
                    </div>
                </div>
                <div id="center">
                    <div id="CON">
                        <table>
                        <tr>
                            <th><h2>Constituição:</h2></th>
                            <th><input type="number" class="input" name="constituicao" id="inputConstituicao"></th>
                        </tr>
                        <tr>
                            <td><button class="botao">Física</button></td>
                            <td><input type="number" class="input" name="resFisica"></td>
                        </tr>
                        <tr>
                            <td><button class="botao">Mental</button></td>
                            <td><input type="number" class="input" name="resMental"></td>
                        </tr>
                        <tr>
                            <td><button class="botao">Espiritual</button></td>
                            <td><input type="number" class="input" name="resEspitritual"></td>
                        </tr>
                        </table>
                    </div>
                    <div id="dado">
                        <h1>{{dado}}</h1>
                        <h3>{{tierSucesso}}</h3>
                    </div>
                </div>
                <div id="right">
                    <div id="MED">
                        <table>
                            <tr>
                                <th><h2>Medicina:</h2></th>
                                <th><input type="number" name="medicina" class="input" id="inputMedicina"></th>
                            </tr>
                            <tr>
                                <td><button class="botao">Primeiros-Socorros</button></td>
                                <td><input type="number" name="primeirosSocorros" class="input"></td>
                            </tr>
                            <tr>
                                <td><button class="botao">Medicina Forense</button></td>
                                <td><input type="number" name="" class="input"></td>
                            </tr>
                            <tr>
                                <td><button class="botao">Medicina</button></td>
                                <td><input type="number" name="" class="input"></td>
                            </tr>
                        </table>
                    </div>
                    <div id="INT">
                        <table>
                            <tr>
                                <th><h2>Inteligência:</h2></th>
                                <th><input type="number" class="input" name="inteligencia" id="inputInteligencia"></th>
                            </tr>
                            <tr>
                                <td><button class="botao">Magia</button></td>
                                <td><input type="number" name="" id="" class="input"></td>
                            </tr>
                            <tr>
                                <td><button class="botao">Intelecto</button></td>
                                <td><input type="number" name="" id="" class="input"></td>
                            </tr>
                            <tr>
                                <td><button class="botao">Conhecimento</button></td>
                                <td><input type="number" name="" id="" class="input"></td>
                            </tr>                        
                        </table>
                    </div>
                </div>
            </div>
            <div id="direita">
                <div id="AGI">
                    <table>
                        <tr>
                            <th><h2>Agilidade:</h2></th>
                            <th><input type="number" class="input" name="agilidade" id="inputAgilidade"></th>
                        </tr>
                        <tr>
                            <td><button class="botao">Velocidade</button></td>
                            <td><input type="number" name="" class="input"></td>
                        <tr>
                            <td><button class="botao">Escalada</button></td>
                            <td><input type="number" name="" class="input"></td>
                        <tr>
                            <td><button class="botao">Acrobacia</button></td>
                            <td><input type="number" name="" class="input"></td>
                        </tr>
                    </table>
                </div>
                <div id="LAB">
                    <table class="tabelas">
                        <tr>
                            <th><h2>Lábia:</h2></th>
                            <th><input type="number" class="input" name="labia" id="inputLabia"></th>
                        </tr>
                            <tr>
                                <td><button class="botao">Persuasão</button></td>
                                <td><input type="number" class="input" name=""></td>
                            </tr>
                            <tr>
                                <td><button class="botao">Diplomacia</button></td>
                                <td><input type="number" class="input" name=""></td>
                            </tr>
                            <tr>        
                                <td><button class="botao">Intimidação</button></td>
                                <td><input type="number" class="input" name=""></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>