<section id="geral">

    <div id="status">
        <div id="infos">
            <div id="nomeDiv">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="inputNome">
            </div>
            <div id="vidaManaSan">
                <label for="vida">Vida:</label>
                <input type="text" name="vida" id="inputVida">
                <label for="mana">Mana:</label>
                <input type="text" name="mana" id="inputMana">
                <label for="sanidade">Sanidade:</label>
                <input type="text" name="sanidade" id="inputSanidade">
            </div>
        </div>
        <div id="atributos">
            <div id="esquerda">
                <div id="FOR">
                    <h2>Força</h2>
                    <input type="text" name="força" id="inputFor">
                    <div class="pericias" id="periciasFor">
                        <button>Lutar</button>
                        <button>Armas Pesadas</button>
                        <button>Força Bruta</button>
                    </div>
                </div>
                <div id="DEF">
                    <h2>Defesa</h2>
                    <input type="text" name="defesa" id="inputDefesa">
                    <div class="pericias" id="periciasDef">
                        <button>Esquiva</button>
                        <button>Bloqueio</button>
                        <button>Contra-ataque</button>
                    </div>
                </div>
            </div>
            <div id="meio">
                <div id="left">
                    <div id="DEX">
                        <h2>Destreza</h2>
                        <input type="text" name="Destreza" id="inputDestreza">
                        <div class="pericias" id="periciasDex">
                            <button>Armas leves</button>
                            <button>Armas de fogo</button>
                            <button>Precisão</button>
                        </div>
                    </div>
                    <div id="PER">
                        <h2>Percepção</h2>
                        <input type="text" name="perception" id="inputPerception">
                        <div class="pericias" id="periciasPer">
                            <button>Encontrar</button>
                            <button>Escutar</button>
                            <button>Intuição</button>
                        </div>
                    </div>
                </div>
                <div id="center">
                    <div id="CON">
                        <h2>Constituição</h2>
                        <input type="text" name="constituicao" id="inputConstituicao">
                        <div class="pericias" id="periciasCon">
                            <button>Física</button>
                            <button>Mental</button>
                            <button>Espiritual</button>
                        </div>
                    </div>
                </div>
                <div id="right">
                    <div id="MED">
                        <h2>Medicina</h2>
                        <input type="text" name="medicina" id="inputMedicina">
                        <div class="pericias" id="periciasMed">
                            <button>Primeiros-Socorros</button>
                            <button>Medicina Forense</button>
                            <button>Medicina</button>
                        </div>
                    </div>
                    <div id="INT">
                        <h2>Inteligência</h2>
                        <input type="text" name="inteligencia" id="inputInteligencia">
                        <div class="pericias" id="periciasInt">
                            <button>Magia</button>
                            <button>Intelecto</button>
                            <button>Conhecimento</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="direita">
                <div id="AGI">
                    <h2>Agilidade:</h2>
                    <input type="text" name="agilidade" id="inputAgilidade">
                    <div class="pericias" id="periciasAgi">
                        <button>Velocidade</button>
                        <button>Escalada</button>
                        <button>Acrobacia</button>
                    </div>
                </div>
                <div id="LAB">
                    <h2>Lábia</h2>
                    <input type="text" name="labia" id="inputLabia">
                    <div class="pericias" id="periciasLabia">
                        <button>Persuasão</button>
                        <button>Diplomacia</button>
                        <button>Intimidação</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="dado"></div>
    </div>

    <div id="dado"></div>

</section>