/* tags */
    h2{
        margin: 5% 0 0 0;
        background-color: hotpink;
    }
    button{
    padding: 1.5%;
    background-color: #80bcfc;
    transition: 0.5s;
    font-size: 1rem;
    font-weight: 700;
    color: #161444;
    border-radius: 0.2rem;
    }
    button:hover{
        background-color: aquamarine;
    }
/* classes */

/* ids */
div#geral{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 1% 0 1% 5%;
    /* border: 1px solid black; */
}
div#usm, div#did, div#hopeless,div#kynoka{
    width: 50%;
    height: 50vh;
    margin: 2% 1%;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0.5rem;
}

div#usm:hover, 
div#did:hover, 
div#hopeless:hover,
div#kynoka:hover{
    box-shadow: 0 0 1rem #80bcfc, 0 0 1rem #80bcfc;
}
div#usm{
    /* border: 1px solid red; */
    margin: 2% 1%;
    background-image: url(../../assets/img/USM.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

div#did{
    border: 1px solid teal;
}

div#hopeless{
    border: 1px solid darkslategray;
}

div#kynoka{
    /* border: 1px solid goldenrod; */
    margin: 2% 1%;
    background-image: url(../../assets/img/ALR.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
div#botao{
    width: 100%;
    text-align: center;
}
@media(max-width: 600px){
    header,footer{
        width: 100%;
    }
    div#usm, div#did, div#hopeless,div#kynoka{
    width: 50%;
    height: 25vh;
    margin: 2% 1%;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0.5rem;
    }
    div#geral{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}